.slide-bg-1{background-image: url(../img/slide-bg-1.jpg)}

.single-slide-item:after{background: #1d62f0;
background: -moz-linear-gradient(45deg, #1d62f0 0%, #1ad8fd 100%);
background: -webkit-linear-gradient(45deg, #1d62f0 0%,#1ad8fd 100%);
background: linear-gradient(45deg, #1d62f0 0%,#1ad8fd 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d62f0', endColorstr='#1ad8fd',GradientType=1 );}

.single-slide-item {
    height: 100%;
    display: table;
    width: 100%;
    position: relative;
    z-index: 1;
}

html,body {
    height: 100%;
}

.single-slide-wprapper {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    font-weight: 300;
    line-height: 1.8;
}

.single-slide-item:after {
    opacity: .9;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
}

.single-slide-wprapper h2 {
    font-size: 65px;
    color: #fff;
    line-height: 75px;
}


.video-play-btn {
    height: 60px;
    width: 60px;
    display: inline-block;
    background: #06d6a0;
    line-height: 63px;
    border-radius: 50%;
    padding-left: 4px;
    margin-top: 15px;
    color: #fff;
    transition: .3s;
}


.homepage-slides, .homepage-slides div {
    height: 100%;
}

.homepage-slides div.single-slide-wprapper, .homepage-slides div.single-slide-wprapper div, 
.homepage-slides div.owl-controls, .homepage-slides div.owl-controls div {
    height: auto;
}

.homepage-slides .owl-nav div {
    position: absolute;
    left: 50px;
    top: 50%;
    font-size: 25px;
    color: #fff;
    opacity: .5;
    line-height: 30px;
    margin-top: -15px;
    transition: .3s;
}

.homepage-slides .owl-nav div.owl-next {
    left: auto;
    right: 50px;
}

.homepage-slides .owl-nav div:hover {
    opacity: 1;
}

.header-area.header-absolute {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9;
}

.header-absolute .mainmenu li a {
    transition: .3s;
    color: #fff;
}
.video-play-btn:hover{
    background: #333;
    color: #fff;
}
.header-area.header-absolute .mainmenu li a:hover{
    color: #06d6a0;
}

.blog-thumb-wrapper{background-image: url(../img/blog-1.jpg)}
.blog-bg-2{background-image: url(../img/blog-2.jpg)}
.blog-bg-3{background-image: url(../img/blog-4.jpg)}
.cta-area.theme-3{background-image: url(../img/cta-bg-2.jpg)}

.cta-area.theme-3:after{background: #05bdfe;
background: -moz-linear-gradient(top, #05bdfe 0%, #4481eb 100%);
background: -webkit-linear-gradient(top, #05bdfe 0%,#4481eb 100%);
background: linear-gradient(to bottom, #05bdfe 0%,#4481eb 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05bdfe', endColorstr='#4481eb',GradientType=0 );}


a.boxed-btn, input[type="submit"], button[type="submit"] {
    background: #06d6a0;
}



.website-check-form {
    margin-top: -35px;
}

.pd-50 {
    padding-top: 80px;
}

.pd-50 h3 {
    font-size: 23px;
    margin-bottom: 25px;
}

.pd-50 .boxed-btn {
    margin-top: 20px;
}

.single-service-box:hover {
    border-color: #06d6a0;
}

.single-service-box:hover a.service-readmore-btn, .single-service-box:hover h3, .single-service-box:hover .service-icon {
    color: #06d6a0;
}

.single-service-box {
    margin-bottom: 0;
}



.theme-2 .case-study-wrapper {
    background: none;
    position:relative;
    z-index:1;
    font-weight: 300;
}

.theme-2 .case-study-wrapper:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: #10d7a3;
    opacity: .9;
    z-index: -1;
}

.theme-2 .case-study-more {
    background: no-repeat;
    color: #fff;
    font-size: 25px;
}

.theme-2 .case-study-wrapper h4 {
    font-size: 20px;
}

.owl-dots div.active {
    background: #10d7a3;
}

a.single-blog-box {
    display: block;
    color: #999;
    font-weight: 300;
    box-shadow: 0 0 10px #f3f3f3;
    padding: 30px;
    transition: .3s;
}

body {
    line-height: 1.7;
}

a.single-blog-box h4 {
    line-height: 1.6;
    color: #8d8d8d;
}

p.blog-meta {
    font-size: 14px;
}

.blog-thumb-wrapper {
    height: 250px;
    background-size: cover;
    background-position: center;
    background-color: #ddd;
    margin-bottom: 30px;
    margin-top: -30px;
    margin-right: -30px;
    margin-left: -30px;
}

a.single-blog-box p:last-child {
    margin: 0;
}

a.single-blog-box:hover {
    color: #999;
    opacity: .9;
}

.cta-area.theme-3 {
    position: relative;
    z-index: 1;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    padding: 100px 0;
}

.cta-area.theme-3:after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    content: "";
    opacity: .8;
    z-index: -1;
}

.cta-area.theme-3 h2 {
    font-size: 40px;
    color: #fff;
    margin-bottom: 15px;
}

.cta-area.theme-3 .boxed-btn {
    margin-top: 40px;
    background: #fff;
    color: #333;
    font-weight: 400;
    padding: 10px 40px;
    transition: .3s;
}

.cta-area.theme-3 .boxed-btn:hover {
    background: #333;
    color: #fff;
}

.footer-area-2, .footer-area-2 a {
    color: #999;
    transition: .3s;
}

.footer-area-2 ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer-area-2 li {
    display: inline-block;
}

.footer-area-2 li a {
    display: block;
    padding: 12px;
}

.social-links {
    text-align: right;
}

.social-links a {
    color: #373737;
    padding: 12px;
    display: inline-block;
    padding-right: 0;
    padding-left: 20px;
    transition: .3s;
}

.copyright-area-2 {
    border-top: 1px solid #f7f7f7;
    font-weight: 300;
    transition: .3s;
    padding: 20px 0;
}

.copyright-area-2 ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.copyright-area-2 li {
    display: inline-block;
}

.copyright-area-2 li a {
    color: #999;
    display: block;
    padding-left: 27px;
    font-weight: 400;
}

.footer-area-2 {
    padding: 40px 0;
}

.copyright-area-2 a:hover, .footer-area-2 a:hover, .social-links a i.fa:hover {
    color: #06d6a0;
}